@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<h4>@ViewData["Valor"]</h4>

<p>Produto: @ViewData["Produto"]</p>

<address>
    <strong>More information:</strong>
    <a href="https://www.google.com.br">Google</a>
</address>
